---
default_stages: [pre-commit, pre-push]

repos:
  - repo: builtin
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/adrienverge/yamllint
    rev: 79a6b2b1392eaf49cdd32ac4f14be1a809bbd8f7 # v1.37.1
    hooks:
      - id: yamllint
        name: Check YAML files with yamllint
        entry: yamllint -c .yamllint.yaml --strict
        types: [yaml]
        exclude: >
          (?x) ^.*pnpm-lock\.yaml$

  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac # v2.4.1
    hooks:
      - id: codespell
        exclude: (^\.)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: aad66557af3b56ba6d4d69cd1b6cba87cef50cbb # v0.14.3
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/DetachHead/basedpyright-prek-mirror
    rev: 7eb3855a1790d8fc457b95773e11cf045ef82d65 # 1.32.1
    hooks:
      - id: basedpyright

  - repo: https://github.com/rhysd/actionlint
    rev: e7d448ef7507c20fc4c88a95d0c448b848cd6127 # v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/errata-ai/vale
    rev: 27593b0e0e7eb8f0c2b7fae0d93fa1cfaabceb2f # v3.13.0
    hooks:
      - id: vale

  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: pnpm exec biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
